<div ng-controller="View6Ctrl as ctrl">

    <h1>CCK - Xmondo Booking-registration</h1>
    <h3>Please fill out the forms with your information.</h3>

    <form  ng-submit="addRegistrationAsJSON()">
        <table style="margin: 5px; width: 65%;">
            <tr>
                <td><h3>Basic information</h3></td>

            </tr>
            <tr>
                <td>Flight: XXXXX</td>
                <td>From: XXX to: XXX</td>
                <td>Travel time: XXX</td>
            </tr>

            <tr>   
                <td></td>
            </tr>

            <tr>
                <td>

                    <button ng-click="resDecreaseNumberOfPassengers()">-</button>
                    <label style="margin: 5px;">{{resPassengers}}</label>
                    <button ng-click="resIncreaseNumberOfPassengers()">+</button>
                    
                </td>
                

            <select id="numberOfSeats" ng-model="resPassengers">
                <option value="1">1 Passenger</option>
                <option value="2">2 Passengers</option>
                <option value="3">3 Passengers</option>
                <option value="4">4 Passengers</option>
                <option value="5">5 Passengers</option>
                <option value="6">6 Passengers</option>
                <option value="7">7 Passengers</option>
                <option value="8">8 Passengers</option> 
            </select>
            </td>
            </tr>
            <td></td>
            <tr>    
            </tr>

            <tr>
                <td>
                    <input id="ReserveeName" class="form-control" 
                           placeholder="Reservation name" required ng-model="newregistration.name">

                </td>
                <td></td>
                <td>
                    <input id="ReservePhone" class="form-control" 
                           placeholder="Phone number" required ng-model="newregistration.phone">    
                </td>
            </tr>
            <tr>
                <td>
                    <input id="ReserveeEmail" class="form-control" 
                           placeholder="Email" required ng-model="newregistration.email">        
                </td>
            </tr>
        </table>
        <div  ng-repeat="i in resGetNumberOfPassengers() track by $index">
            <table style="width: 65%; margin: 5px;">
                <tr>
                    <td>
                        <input id="firstName" class="form-control" 
                               placeholder="Enter Firstname" required ng-model="newregistration.firstName">
                    </td>

                    <td>
                        <input id="lastName" class="form-control" 
                               placeholder="Enter Lastname" required ng-model="newregistration.lastName">
                    </td>
                </tr>
            </table>
        </div>
        <table style="width: 65%; margin: 5;">
            <tr>
                <td>Total price: XXXX</td>


                <td>
                    <button type="submit" style="margin-right: 0px" class="btn btn-success" ng-click="addRegistrationAsJSON()">Make reservation
                    </button>

                </td>
            </tr>
        </table>

    </form>
