<div ng-controller="View5Ctrl as ctrl">
    <h1>CCK - Xmondo Search</h1>
    <div>
        <table style="margin-top: 80px; width: 65%; border-spacing: 0;">
            <tr>
                <td class="columnCubeBackgroundLeftTop"><p>Traveling from:</p></td>
                <td class="columnCubeBackgroundMiddleTop"></td>
                <td class="columnCubeBackgroundMiddleTop"><p>Traveling to:</p></td>
                <td class="columnCubeBackgroundMiddleTop"><p>Date:</p></td>
                <td class="columnCubeBackgroundMiddleTop"><p>Passengers:</p></td>
                <td class="columnCubeBackgroundRightTop"></td>
            </tr>
            <tr>
                <td class="columnCubeBackgroundLeftBottom">
                    <select ng-model="origin" 
                            ng-init="selectedOption = selectedOption || options[0].value"
                            ng-options="option.value as option.name for option in options">
                    </select>
                </td>
                <td class="columnCubeBackgroundMiddleBottom"> 
                    <button class="btn btn-primary navbar-btn" 
                            style="padding: 1px 12px 1px 12px;"
                            ng-click="swapLocations()"
                            >&harr;</button>
                </td>
                <td class="columnCubeBackgroundMiddleBottom">
                    <select ng-model="destination" 
                            ng-options="option.value as option.name for option in options">
                        <option value=""></option>
                    </select>
                </td>
                <td class="columnCubeBackgroundMiddleBottom">
                    <input min="2016-01-01" max="2016-12-31" type="date" ng-model="parameter.date" required>
                </td>
                <td class="columnCubeBackgroundMiddleBottom">
                    <select ng-model="parameter.seats">
                        <option value="1">1 Passenger</option>
                        <option value="2">2 Passengers</option>
                        <option value="3">3 Passengers</option>
                        <option value="4">4 Passengers</option>
                        <option value="5">5 Passengers</option>
                        <option value="6">6 Passengers</option>
                        <option value="7">7 Passengers</option>
                        <option value="8">8 Passengers</option> 
                    </select>
                </td>
                <td class="columnCubeBackgroundRightBottom">
                    <button type="submit" 
                            class="btn btn-primary navbar-btn" 
                            ng-click="getFlightinfo()"
                            >Search</button>
                </td>
            </tr>
        </table>
    </div>
    <div> 
        <br>
        <br>
        <h3>Results:</h3>
        <br>
    </div>
    <uib-accordion>
        <uib-accordion-group style="width: 80%" ng-repeat="flight in json.flights">
            <uib-accordion-heading>       
                <table style="width: 100%; border-spacing: 0;">
                    <tr>
                        <td>{{flight.origin}} &rarr; {{flight.destination}}</td>
                        <td style="text-align: center">{{dateTimeFormat(flight.date)[0]}} - {{dateTimeFormat(flight.date)[1]}}</td>
                        <td style="text-align: right">Total Price: {{flight.totalPrice| currency:"&#8364;"}}</td>
                    </tr>
                </table>    
            </uib-accordion-heading>
            <uib-accordion-body>
                <p>Airline : {{json.airline}}</p>
                <p>Flight: {{flightIdFormat(flight.flightID)}}</p>
                <p>Departure time: {{dateTimeFormat(flight.date)[1]}}</p>
                <p>Travel time: {{flight.traveltime}} minutes</p>
<!--                Tilføj pris pr. ticket-->
                <p>Price per ticket: {{basePrice}}</p>
                <p>Number of seats: {{flight.numberOfSeats}}</p>
                <a class="btn btn-danger" ng-click="createResObject(flight); addFlight(flight)">Book Flight</a>
            </uib-accordion-body>
        </uib-accordion-group>  
    </uib-accordion>
</div>
