<div ng-controller="View5Ctrl as ctrl">
    <h1>CCK - Xmondo</h1>
    <div>
        <table style="margin-top: 80px; width: 65%; border-spacing: 0;">
            <tr>
                <td class="columnCubeBackgroundLeftTop"><p>Traveling from:</p></td>
                <td class="columnCubeBackgroundMiddleTop"></td>
                <td class="columnCubeBackgroundMiddleTop"><p>Traveling to:</p></td>
                <td class="columnCubeBackgroundMiddleTop"><p>Date:</p></td>
                <td class="columnCubeBackgroundMiddleTop"><p>Passengers:</p></td>
                <td class="columnCubeBackgroundRightTop"></td>
            </tr>
            <tr>
                <td class="columnCubeBackgroundLeftBottom">
                    <input type="text" ng-model="parameter.origin" style="width:10em;" placeholder="Insert city">
                </td>
                <td class="columnCubeBackgroundMiddleBottom"> 
                    <button class="btn btn-primary navbar-btn" style="padding: 1px 12px 1px 12px;">&harr;</button>
                </td>
                <td class="columnCubeBackgroundMiddleBottom">
                    <input type="text" ng-model="parameter.destination" style="width:10em;" placeholder="Insert city">
                </td>
                <td class="columnCubeBackgroundMiddleBottom">
                    <input type="date" ng-model="parameter.date">
                </td>
                <td class="columnCubeBackgroundMiddleBottom">
                    <select ng-model="parameter.seats">
                        <option value=1>1 Passenger</option>
                        <option value=2>2 Passengers</option>
                        <option value=3>3 Passengers</option>
                        <option value=4>4 Passengers</option>
                        <option value=5>5 Passengers</option>
                        <option value=6>6 Passengers</option>
                        <option value=7>7 Passengers</option>
                        <option value=8>8 Passengers</option> 
                    </select>
                </td>
                <td class="columnCubeBackgroundRightBottom">
                    <button type="submit" class="btn btn-primary navbar-btn" ng-click="getFlightinfo()">Search</button>
                </td>
            </tr>
        </table>
    </div>
    <div> 
        <br>
        <br>
        <br>
    </div>
    <uib-accordion>
        <uib-accordion-group style="width: 80%" ng-repeat="flight in json.flights">
            <uib-accordion-heading>       
                <table style="width: 100%; border-spacing: 0;">
                    <tr>
                        <td>{{flight.origin}} &rarr; {{flight.destination}}</td>
                        <td style="text-align: center">{{flight.date}}</td>
                        <td style="text-align: right">Price: {{flight.totalPrice}}</td>
                    </tr>
                </table>    
            </uib-accordion-heading>
            <uib-accordion-body>
                <p>Airline : {{json.airline}}</p>
                <p>Flight: {{flight.flightID}}</p>
                <p>Travel time: {{flight.traveltime}} minutes</p>
                <p>Number of seats: {{flight.numberOfSeats}}</p>
                <a class="btn btn-danger" ng-click="addFlight(flight);">Book Flight</a>
            </uib-accordion-body>
        </uib-accordion-group>  
    </uib-accordion>
</div>